{% extends 'base_user.html.twig' %}

{% block title %}Programmes en ligne{% endblock %}

{% block body %}
<section>
    <div class="mx-auto mb-5 text-center medium-20-font-size main-font text-primary">
        Vous procédez à l'achat du programme <span class="main-font-bold">{{ program.name }}</span> au prix de <span class="main-font-bold">{{ program.price }}</span> €.
    </div>
<div id="payment">
    <form method="post">
        <div id="errors"></div><!-- Messages d'erreur de paiement -->
        <input type="text" id="cardHolder-name" placeholder="Titulaire de la carte">
    <div id="card-elements"></div><!-- contient formulaire de saisie des infos cartes -->
        <div id="card-errors" role="alert"></div><!-- Contient les erreurs liées à la carte -->
        <button id="card-button" class="btn btn-primary" type="button" data-secret="{{ intent.client_secret }}">Procéder au paiement</button>
    </form>
</div>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        window.onload = () => {
            let stripe = Stripe('pk_test_51HgtAsH1Hak7MvFLXkL8rHt6SbJgfCHb2Wo7FSQANTw4TO6xW4qTNG87NUSOcTIWfV2oY6PipcnPvI2K1Z1pYOP700GqucAFXX')
            let elements = stripe.elements()
            let redirect = "/online/suscrib?prog={{ program.id }}"

            let cardHolderName = document.getElementById("cardHolder-name")
            let cardButton = document.getElementById("card-button")
            let clientSecret = cardButton.dataset.secret;

            let card = elements.create("card")
            card.mount("#card-elements")

            // gestion de la saisie
            card.addEventListener("change", (event) => {
                let displayError = document.getElementById("card-errors")
                if(event.error){
                    displayError.textContent = event.error.message;
                }else{
                    displayError.textContent = "";
                }
            })
            // Gestion du paiement
            cardButton.addEventListener("click", () => {
                stripe.handleCardPayment(
                    clientSecret, card, {
                        payment_method_data: {
                            billing_details: {name: cardHolderName.value}
                        }
                    }
                ).then((result) => {
                    if(result.error){
                        document.getElementById("errors").innetText = result.error.message
                    }else{
                        document.location.href = redirect
                    }
                })
            })
        }
    </script>
</section>
{% include 'map.html.twig' %}
{% endblock %}
