$circle: #ffffff;

.card-activity{
    height: 565px;
}
.card-deck .distance{
    order: 3;
}
.card-deck .team{
    order: 2;
}
.card-deck .coaching{
    order: 1;
}
.card-text-activity{
    height: 140px;
    width: 80%;
    color: $darkgray;
    font-family: $main-font;
    font-size: $small-font-size;
}

.card-deck{
    top: -165px;
    background-color: $circle;
    border-radius: 16px;
    border: solid 1px $circle;
}

.vib{
    position: absolute;
    top: -25px;
    height: 25px;
    width: 100vw;
    border-top-left-radius: 75% 30px;
    border-top-right-radius: 75% 30px;
}

.activity{
    max-width: 1150px;
}

.card-img-top-activity {
    width: 96%;
    margin-left: 2%;
    margin-top:2%;
    height: 280px;
    object-fit: cover;
}

.badge-activity {
    width: 77px;
    height: 77px;
    border-radius:50%;
    border :8px solid $circle ;
    margin-top: -35px;
    background-color: $primary;
}

.card-activity:nth-child(even) .badge-activity {
    background-color: #85c041;
}
