.card-coach-activity:nth-of-type(even) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 75px;
}

.card-coach-activity:nth-of-type(odd) .badge-coaching{
    background-color: $primary;
}

.card-coach-activity:hover{
    background-color: $primary;
    transition: 0.3s;
}

.activity-cadre {
    z-index: 50;
    top: 0;
    left: 0;
}

.badge-coaching{
    width: 77px;
    height: 77px;
    border-radius:50%;
    border :8px solid $circle ;
    background-color: $secondary;
}

.align_center{
    width: 200%;
    position: relative;
    left: -50%;
    text-align: center;
}

.card-act-image{
    border-style: solid;
    border-width: 8px;
    border-color: $ultra-light;
    border-radius: 50%;
    width: 370px;
    height: 370px;
    align-content: center;
}

.image-activity{
    display: block;
    max-width: 550px;
    left: calc( 50% - 185px);
    margin: 0 auto;
}

#biodyxpert img{
    width: 280px;
}
