.planning {
    font-size: 1vmin;
    .time {
        height: 80px;
        font-size: $xtra-small-font-size;
    }
    .head {
        height:3vw;
    }
    .bg-secondary-transparent{
        background-color: $secondary-transparent;
    }
    .fs-2{
        font-size: 2.5em;
    }
    .day{
        position: relative;
        width: 20%;
    }
    #lundi{
        order: 1;
    }
    #mardi{
        order: 2;
    }
    #mercredi{
        order: 3;
    }
    #jeudi{
        order: 4;
    }
    #vendredi{
        order: 5;
    }
    #samedi{
        order: 6;
    }
    #dimanche{
        order: 7;
    }
    .cours_planning {
        z-index:5;
        //border-radius: 2px;
        border: solid 1px $secondary;
        background-color: $primary;
        color: $secondary;
    }
    .cours_planning:hover {
        background-color: $secondary;
        color: $primary;
        transition: 0.3s;
         }
    .hour{
        top: -2vh;
    }
    .one-11{
        width: calc(100% / 11);
}
    .extends {
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: $primary;
        width: 1100%;
    }
    //.extends-r {
    //    border-top-style: solid;
    //    border-top-width: 1px;
    //    border-top-color: $primary;
    //}
    a {
        color: $secondary;
    }
    a:hover {
        text-decoration: none;
    }
}
