@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@font-face {
    font-family: Qanelas;
    src: url("../fonts/Police-Qanelas/Qanelas-Regular.ttf");
}

@font-face {
    font-family: 'Qanelas Medium';
    src: url("../fonts/Police-Qanelas/Qanelas-Medium.ttf");
}

@font-face {
    font-family: 'Qanelas Bold';
    src: url("../fonts/Police-Qanelas/Qanelas-Bold.ttf");
}

@font-face {
    font-family: 'Qanelas Semi-Bold';
    src: url("../fonts/Police-Qanelas/Qanelas-SemiBold.ttf");
}

@font-face {
    font-family: 'Qanelas Light';
    src: url("../fonts/Police-Qanelas/Qanelas-Light.ttf");
}

@font-face {
    font-family: 'Qanelas Black';
    src: url("../fonts/Police-Qanelas/Qanelas-Black.ttf");
}
@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: 'Montserrat Semi-Bold';
    src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: 'Montserrat Light';
    src: url("../fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
    font-family: 'Montserrat Bold Italic';
    src: url("../fonts/Montserrat/Montserrat-BoldItalic.ttf");
}
@font-face {
    font-family: 'Montserrat Black';
    src: url("../fonts/Montserrat/Montserrat-Black.ttf");
}
$primary: #00384f;
$primary-transparent: rgba($primary,0.9);
$secondary: #85c041;
$flashy: #00ffff;
$secondary-transparent: rgba($secondary,0.4);

$lightgray: #f7f7f7;
$darkgray: #6a6b6a;

$ultra-light: #FFF;
$light: #F4F4F4;
$dark: #000307;

$shadow: rgba(15,15,15,0.5);

$main-font: Qanelas;
$main-font-light: "Qanelas Light";
$main-font-medium: "Qanelas Medium";
$main-font-semi-bold: "Qanelas Semi-Bold";
$main-font-bold: "Qanelas Bold";
$main-font-black: "Qanelas Black";
$nav-font: Montserrat;
$nav-font-medium: "Montserrat Medium";
$nav-font-semi-bold: "Montserrat Semi-Bold";
$nav-font-bold: "Montserrat Bold";
$nav-font-bold-italic: "Montserrat Bold Italic";
$nav-font-light: "Montserrat Light";
$nav-font-black: "Montserrat Black";
$caption-font: Raleway;
$italic-font : 'Caveat';

$xxs-font-size: 12px;
$xtra-small-font-size: 13px;
$small-14-font-size: 14px;
$small-15-font-size: 15px;
$small-font-size: 16px;
$medium-17-font-size: 17px;
$medium-font-size: 18px;
$medium-20-font-size: 20px;
$semi-large-font-size-28: 28px;
$semi-large-font-size: 30px;
$large-font-size: 35px;
$xlarge-font-size: 50px;

$form-height-s: 150px;
$form-height-m: 200px;
$form-height-l: 300px;
