@import "vars";
@import "paginator";
@import "~bootstrap/scss/bootstrap";
@import "about_me";
@import "activity";
@import "actuality";
@import "before_after";
@import "blog";
@import "coaching_team";
@import "contact";
@import "errorPages";
@import "faq";
@import "form";
@import "map";
@import "member";
@import "navbar";
@import "online";
@import "planning";
@import "transformations";
@import "whoami";
@import "footer";
@import "time";

@for $i from 1 through 6 {
    .h-#{$i}00 {
        height: 100px*$i;
    }
}

@for $i from 1 through 5 {
    .line-h-#{$i} {
        line-height: 1+(0.2*$i);
    }
}

body {
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Qanelas';
    background-color: $ultra-light;
}
svg {
    fill: currentColor;
}
.pictograms{
    fill: currentColor;
}
.bg-radiant{
    background: linear-gradient(to left, #00354C, #196B84);
}
.intro{
    padding: 55px 0 110px 0;
}
#road{
    padding: 20px 0;
    background-color: $ultra-light;
}

h1 {
    font-family: 'Qanelas Black';
    color: $light;
    font-size: 45px;
}

h2 {
    font-family: Qanelas;
    font-size: $medium-font-size;
}

.underTitle {
    font-size: 1.5vmax;
}

section {
    width: 1240px;
    margin: 0 auto;
}

.end-page {
    height: 50px;
}

.flashy{
    color: $flashy;
}
.main-font{
    font-family: $main-font;
}
.main-font-medium{
    font-family: $main-font-medium;
}
.main-font-semi-bold{
    font-family: $main-font-semi-bold;
}
.main-font-bold{
    font-family: $main-font-bold;
}
.main-font-black{
    font-family: $main-font-black;
}
.main-font-light{
    font-family: $main-font-light;
}
.nav-font{
    font-family: $nav-font ;
}

.nav-font-light{
    font-family: $nav-font-light ;
}

.nav-font-medium{
    font-family: $nav-font-medium ;
}

.nav-font-semi-bold{
    font-family: $nav-font-semi-bold ;
}

.nav-font-bold{
    font-family: $nav-font-bold ;
}

.nav-font-bold-italic{
    font-family: $nav-font-bold-italic;
}

.nav-font-black{
    font-family: $nav-font-black ;
}
.caption-font{
    font-family: $caption-font;
}
.caption-font-italic{
    font-family: $caption-font;
    font-weight: 700;
    font-style: italic;
}

.btn{
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
}
.xxs-font-size{
    font-size: 12px;
}
.xs-font-size{
    font-size: $xtra-small-font-size;
}
.small-14-font-size{
    font-size: $small-14-font-size;
}
.small-15-font-size{
    font-size: $small-15-font-size;
}
.small-font-size{
    font-size: $small-font-size;
}
.medium-font-size{
    font-size: $medium-font-size;
}
.medium-17-font-size{
    font-size: $medium-17-font-size;
}
.medium-20-font-size{
    font-size: $medium-20-font-size;
}
.semi-large-font-size-28{
    font-size: $semi-large-font-size-28;
}
.semi-large-font-size{
    font-size: $semi-large-font-size;
}
.large-font-size{
    font-size: $large-font-size;
}
.xl-font-size{
    font-size: $xlarge-font-size;
}
.hand-font{
    font-family: $italic-font;
}

.place-card-large{
    visibility: hidden;
}
