

@import "vars";
@import "paginator";
@import "~bootstrap/scss/bootstrap";
@import "about_me";
@import "activity";
@import "actuality";
@import "before_after";
@import "blog";
@import "coaching_team";
@import "errorPages";
@import "faq";
@import "footer";
@import "form";
@import "map";
@import "member";
@import "navbar";
@import "planning";
@import "transformations";
@import "whoami";

body {
    width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: $ultra-light;
    font-family: 'Qanelas';
}

h1 {
    font-family: $main-font;
    color: $light;
    margin: 50px;
    font-size: 5vmax;
}

h2 {
    font-family: $main-font;
    color: $primary;
    font-size: 5vmin;
}

.underTitle {
    font-size: 1.5vmax;
}

section {
    width: 80%;
    margin: 0 auto;
}

.end-page {
    height: 50px;
}

