#contact {
    .first_image {
        object-fit: contain;
        transform: rotate(12deg);
        max-height: 45vh;
        margin-bottom: 50px;
        box-shadow: none;
    }
    .polaroid_img{
        overflow: hidden;
        height: 125px;
        width: 150px;
    }
    .pola{
        top:725px;
    }
}
.blue_bottom{
    height: 50px;
    background-color: $primary;
}
