footer {
    font-size: $xtra-small-font-size;
    bottom: 0;
    color: $light;
    background-color: $dark;

    svg {
        margin-right: 4px;
    }

    //.row {
    //    height: 90px;
    //}

    img {
        height: 17px;
        width: 17px;
    }

    .scrollUp {
        border-radius: 50%;
        background-color: #00384F;
        height: 24px;
        width: 24px;
        img {
            height: 24px;
            width: 24px;
        }
    }

    a {
        color: $light;
    }

    a:hover {
        color: $flashy!important;
        text-decoration: none;
    }
}
