footer {
    font-size: $xtra-small-font-size;
    bottom: 0;
    color: $light;
    background-color: $dark;

    svg {
        margin-right: 4px;
    }

    .row {
        height: 90px;
    }

    img {
        height: 17px;
        width: 17px;
    }

    .scrollUp {
        img {
            height: 39px;
            width: 39px;
        }
    }

    a {
        color: $light;
    }

    a:hover {
        text-decoration: none;
    }
}
