$testimony: #444d4f;

.container:nth-child(even) {
    .transformations {
        flex-direction: row-reverse;
    }
}

.transformations {
    padding-top: 100px;
    h4{
        color: #3A9EB5;
    }
    img {
        border-radius: 10px;
    }
    p, span {
        color: $testimony;
    }
}

.before_afterImg {
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
}

#focus .focus p{
    color: $light;
}
