.whoami {
    h2 {
        font-size: $small-font-size;
        font-family: $main-font-semi-bold;
    }
    .card-wia-image{
        border-radius: 50%;
        border: white 8px solid;
        width: 340px;
        height: 340px;
    }
    .card-wia-text{
    }
    .number {
        font-size: $xlarge-font-size;
    }
    p {
        font-family: $nav-font;
    }

    .font-italic {
        font-family: $italic-font, cursive;
    }
    .size-26{
        font-size: 26px;
    }
    li .active{
        font-family: $nav-font-bold;
    }
    .active::after {
        width: 100%;
    }
    .rezo-whoAmI{
        a:hover{
            text-decoration: none;
            color: $secondary;
        }
    }
}

.downarrow {
    width: 100px;
}

.meet {
    font-family: $main-font;
    font-weight: bolder;
}

.accompagne{
    height: 20px;
    img{
        height:100px;
    }
}
.bloc_wia{
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
}
.bloc_wia:nth-of-type(even)  {
    flex-direction: row-reverse;
    justify-content: flex-end;
}
