<div class="headband position-relative">
    <div class="container d-flex justify-content-center flex-column">
        <div class="row justify-content-center">
            <div class="griffe col-4 d-flex justify-content-center">
                <img src="{{ asset('build/Griffe-pour-bleu.svg') }}">
            </div>
        </div>

        <div class="row justify-content-center my-0">
            <div class="my-0">
                <h1 CLASS="my-0">{{ title ?? 'COACH PETER' }}</h1>
            </div>
        </div>

        <div class="row justify-content-center mb-3">
            <div class="col-8 col-lg-10 d-flex justify-content-center my-0">
                <p class="mb-0 main-font-light medium-17-font-size text-white">{{ (underTitle ?? '')|upper }}</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-10 d-flex justify-content-center">
                <a href="{{ path('app_contact') }}" class="btn border-light">BESOIN D'UN COACHING ?</a>
            </div>
        </div>
    </div>
</div>
